{% extends 'map/google_base.html' %}
{% load static %}
{% block title %}
    Index
{% endblock %}
{% block google_head %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="{% static "js/map/gmapapikey.js" %}"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 600px;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="{% static "js/map/gmap.js" %}"></script>
{% endblock %}
{% block body_block %}
    <div id="map"></div>

{% endblock %}